.slider {
    
    width: 100vw;
    height: 50vh;
    position: relative;
    overflow: hidden;
    
}

.slider__image-container {
  width: 100%;
  height: auto;

}

.slider__image {
width: 100%;
height: 100%;
}

.slider .button {
    position: absolute;
    width: 50px;
    height: 20px;
}

.slider .button--next {
    top: 30%;
    right:0;
    transform: translate(-50%, -50%);
}

.slider .button--previous {
    top: 30%;
    left: 0;
    transform: translate(50%, -50%);
}

@media(min-width: 768px){
    .slider .button {
        width: 90px;
        height: 30px;
    }
}

@media(min-width: 1024px){
    .slider .button {
        width: 130px;
        height: 40px;
    }
}