@import './style.css';

.slider {
    width: 100vw;
    height: 40vh;
}

.slider__image-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.slider .button {
    display: block;
    position: absolute;
    width: 50px;
    height: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;

}

.slider .button:focus {
   outline: none;
}

.slider .button--next {
    top: 50%;
    right:0;
    transform: translate(-50%, -50%);
}

.slider .button--previous {
    top: 50%;
    left: 0%;
    transform: translate(50%, -50%);
}

.slider .button--previous img {
    transform: rotate(-180deg);
}

.button img {
    width: 100%;
    height: 100%;
}

@media(orientation: landscape){
    .slider {
        height: 50vh;
    }
}

@media(min-width: 768px){
    .slider .button {
        width: 60px;
    }
}

@media(min-width: 1024px){
    .slider .button {
        width: 100px;
        height: 60px;
    }
}

@media(min-width: 1400px){
    .slider {
        height: 42vh;
    }
}


