:root {
    --primary-color: #A07392;
    --secondary-color: #946C86;
    --border-color: #BA9CB3
}


*, *::after, *::before {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
}

.wrapper {
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.wrapper .rule {
    width: 85%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
   
}

.rule__image-container {
    height: 55%;
    display: flex;
    background-color: var(--secondary-color);
    justify-content: center;
    align-content: center;
    border-top-right-radius: 10px;
    border-top: 4px solid var(--border-color);
    border-right: 4px solid var(--border-color);
    
}

.rule__image {
    padding: 10px 0 10px 0;
    max-width: 85%;
}

.rule__text {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    border-left: 4px solid var(--border-color);
    border-bottom: 4px solid var(--border-color);
    background-color: var(--secondary-color);
    border-bottom-left-radius: 10%;
    padding: 0 0 6px 6px;
    font-size: 23px;
    letter-spacing: 1.2px;
}

.footer {
    border-top: 3px solid var(--border-color);
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.footer div {
    display: flex;
    justify-content: center;
    text-align: left;
    width: 100%;
    font-size: 10px;
   
}

.footer div a {
    text-decoration: none;
    color: black;
    
}